.container-first-section {
  margin-top: 175px;
  margin-bottom: 175px;
  max-width: 1180px;
}

.row-first-section {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.col-1-first-section {
  padding: 0px;
}

.col-1-first-section p {
  color: #d9d9d9;
  font-size: 16px;
  line-height: normal;
}

.container-col1-section {
  padding: 0px;
}

.h3-first-section {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 20px;
}

h2 strong {
  font-weight: 700;
  font-size: 60px;
  color: #2ca2c8;
}
.h2-first-section {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
}

.p-first-section {
  margin-top: 30px;
  font-size: 16px;
}

.row-buttons {
  margin-top: 60px;
  width: auto;
  margin-left: 0px;
}

.container-buttons-first-section {
  padding: 0;
}

.btn-download {
  width: 242px;
  height: 79px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 40px;
  margin: 0px 22px 26px 0px;
  background-color: #2ca2c8;
  color: #0f1724;
  border: 0;
}

.btn-download:hover {
  background-color: #f1f1f1;
  color: #0f1724;
}

.btn-contact {
  width: 242px;
  height: 79px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 40px;
  margin: 0px 22px 26px 0px;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  color: #f1f1f1;
  padding: 21px;
}

.btn-contact:hover {
  border: 1px solid #f1f1f1;
  color: #2ca2c8;
  background-color: transparent;
}

/* Container Banner */

.col-banner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.container-2-coluna {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  height: 480px;
}

.col-banner img {
  position: absolute;
}

.banner-img-foto {
  width: 400px;
  height: 400px;
}

.banner-img-azul {
  width: 537px;
  height: 484px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 40s linear infinite;
}

.banner-img-branco {
  width: 465px;
  height: 470px;
  -webkit-animation: anti-spin 2s linear infinite;
  animation: anti-spin 15s linear infinite;
}

/* Mobile */
@media (max-width: 575px) {
  .container-first-section {
    padding: 0 60px;
    margin: 200px auto 45px;
  }

  .h3-first-section {
    font-size: 20px;
    padding-bottom: 0px;
  }

  h2 strong {
    font-size: 30px;
  }
  .h2-first-section {
    font-size: 20px;
    line-height: 30px;
  }

  .p-first-section {
    margin-top: 15px;
    font-size: 10px;
  }

  .row-buttons {
    margin-top: 60px;
    width: 100%;
    margin-left: 0px;
  }

  .container-buttons-first-section {
    padding: 0;
  }

  .btn-download {
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 40px;
    margin: 0px 22px 26px 0px;
  }

  .btn-contact {
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 40px;
    margin: 0px 22px 26px 0px;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    color: #f1f1f1;
    padding: 13px;
  }

  .col-banner {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .container-2-coluna {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    height: 480px;
  }

  .col-banner img {
    position: absolute;
  }

  .banner-img-foto {
    width: 75%;
    height: auto;
  }

  .banner-img-azul {
    width: 100%;
    height: auto;
  }

  .banner-img-branco {
    width: 85%;
    height: auto;
  }
}

@media (max-width: 1201px) {
  .container-first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 175px;
  }

  .col-1-first-section {
    padding: 0px;
  }

  .container-2-coluna {
    padding: 0;
    height: 500px;
    margin-top: 33px;
  }
}

/* Activate animation */

@media (min-width: 1201px) {
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes anti-spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
    }
  }

  @keyframes anti-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
