.skills-container {
  max-width: 1100px;
  margin-bottom: 175px;
}

.skills-h3 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 70px;
}

.card-skill-img{
  text-align: center;
  padding: 0px;
  margin-bottom: 25px;
}

.skills-img{
  padding: 0px;
  width: 100%;
  height: auto;
  max-width: 190px;
  transition: transform .5s;
}

.skills-img:hover{
  padding: 0px;
  transform: scale(1.1);
}

@media (min-width: 992px){
  .card-skill-img{
    max-width: 100%;
    padding: 0;
  } 
}

@media (max-width: 575px) {
  .skills-container {
    max-width: 500px;
    margin: -150px auto 50px;
    padding: 0 60px;
  }

  .skills-h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 45px;
  }
  .card-skill-img{
    text-align: center;
    padding: 0px;
  }
  
  
}

