
.col-cardProject {
    padding: 0;
  }
  
  .col-cards {
    padding: 0;
    margin: 0;
  }
  
  .container-single-card {
    padding: 0px;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  .card-project {
    background-color: rgba(25, 35, 52, 0.7);
    width: 562px;
    height: 838px;
    color: #d9d9d9;
    align-items: center;
    padding: 40px;
    border-radius: 37px;
    border: 2px solid #2ca2c8;
  }
  
  .container-card-banner{
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 40px;
  }

  .card-banner {
    width: 481px;
    height: 260px;    
    transition: transform .5s;
  }
  
  .card-banner:hover{
    transform: scale(1.1);
  }

  .card-icons {
    height: 73px;
    margin: 1px;
  }
  
  .card-body {
    padding: 0px;
  }
  
  .card-title {
    font-size: 30px;
    margin-bottom: 19px;
    color: #f1f1f1;
  }
  
  .card-text {
    font-size: 18px;
    color: #d9d9d9;
    margin-bottom: 35px;
  }
  
  .card h4 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .row-tecnologies {
    margin: 0px;
    margin-bottom: 60px;
  }
  
  .tec-cols {
    padding: 0 20px 0 0;
  }
  
  .row-card-buttons {
    width: fit-content;
    column-gap: 14px;
    margin-left: 1px;
  }
  
  .col-card-buttons {
    padding: 0;
  }
  
  .card-buttons {
    border-radius: 40px;
    width: 233px;
    height: 77px;
    background-color: transparent;
    border: 2px solid #2ca2c8;
    color: #f1f1f1;
    font-size: 20px;
  }
  
  .card-buttons:hover {
    background-color: transparent;
    color: #2ca2c8;
    border: 2px solid #2ca2c8;
    text-decoration: underline;
  }
  